.container{
    height: 70px;
    width: 100%;
    background-color: #7a7676;
    color: #fff;
    display: flex;
    justify-content: space-between;

}
.form{
    margin-right: 25px;
    margin-top: 35px;
}